.Pages {
  margin: 0;
  box-sizing: border-box;
    background-color: #0f1827;
    color: #e2e6e7;
}
.App {
  text-align: center;
}

.Footer {
  background-color: #1b2941;
  color: white;
  position: sticky;
}

.camera-img {
  margin-bottom: 15px;
}

.watch{
  display: flex;
align-items: center;
justify-content: center;
}

.camera-img {
  margin-top: 15px;
  margin-bottom: 20px;
}
